html{/*전체 영역*/
    height: 100dvh;
    width: calc(100vw - 8px);
    padding: 0px;
    margin: 0px;
}
body{/*전체 영역*/
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: overlay
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background: #00C471;
	border-radius: 13px 13px 13px 13px;
}
::-webkit-scrollbar-track {
	background: #F6F6F6;
}
.content-ar{
    width: 100%;
    /*height: calc(100vh - 165px);*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}