body {
  margin-top: 210px; /* 헤더 높이만큼 콘텐츠 밀기 */
}

.exam-header-ar{
    width: 100%;
    height: 210px;
}

.exam-header{
    width: 100%;
    height: 210px;


    position: fixed; /* 상단에 고정 */
    top: 0; /* 화면의 상단 */
    left: 0; /* 화면의 왼쪽 */
    width: 100%; /* 화면 전체 너비 */
    z-index: 1000; /* 다른 요소 위로 배치 */
    /*background-color: #fff;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
    background-color: rgba(255, 255, 255, 0.8);
}

.exam-header div{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.exam-header-top span{
    font-size: 30px;

    color: #333B3D;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hide-span{
    font-size: 20px;

    color: #333B3D;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.show-span{
    font-size: 20px;

    color: #333B3D;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: center;
}


.exam-sub-sub{
    font-size: 19px;

    white-space: nowrap;

    height: 85%;

    margin-left: 5px;
    margin-right: 5px;

    padding-left: 5px;
    padding-right: 5px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    border-radius: 8px;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ele-sub-btn{
    background-color: #F89321; color: #FFFFFF;
}

.req-sub-btn{
    background-color: #CB0000; color: #FFFFFF;
}

@media (hover:hover) {

    .ele-sub-btn:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border: 2px solid #F89321;
        cursor: pointer;
        font-weight: 800 !important;
        color: #F89321 !important;
        background-color: #FFFFFF !important;
    }

    .req-sub-btn:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border: 2px solid #CB0000;
        cursor: pointer;
        font-weight: 800 !important;
        color: #CB0000 !important;
        background-color: #FFFFFF !important;
    }


}

.exam-sub-mini{
    font-size: 13px;

    color: #0078C4;

    margin-left: 15px;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}


.exam-sub-click{
    font-size: 13px;

    color: #00C471;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.exam-h-hide{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(246, 246, 246, 0.8);
    border-bottom: 1px solid #CED4DA;

}

.exam-h-show{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(246, 246, 246, 0.8);
    border-bottom: 1px solid #CED4DA;

    position: fixed; /* 상단에 고정 */
    top: 0; /* 화면의 상단 */
    left: 0; /* 화면의 왼쪽 */
    z-index: 1001; /* 다른 요소 위로 배치 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */


    display: flex;
    align-items: center;
    justify-content: center;

}

@media (hover:hover) {
    .exam-h-hide:hover{
        background-color: rgba(246, 246, 246, 1) !important;
        cursor: pointer;
    }

    .exam-h-hide:hover .hide-span{
        font-weight: 900 !important;
    }

    .exam-h-show:hover{
        background-color: rgba(246, 246, 246, 1) !important;
        cursor: pointer;
    }

    .exam-h-show:hover .show-span{
        font-weight: 900 !important;
    }
}

.selected-option{
    background-color: #00C471;
}

@media (hover:hover) {
    [data-optionno]:hover {
        cursor: pointer;
        background-color: #00C471;
    }
}

.exam-submit-btn {
    z-index: 1100; /* 다른 요소 위로 배치 */

    position: fixed;

    width: 210px;
    height: 70px;


    top: 230px;
    right: 10px;
    background-color: #00C471;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 30px;

    font-family: "Noto Sans KR", serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

@media (hover:hover) {
    .exam-submit-btn:hover {
        background-color: #009956;
        cursor: pointer;
    }
}


.score-modal-overlay {
    z-index: 2000;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.score-modal {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 95%;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.s-modal-t{
    width: 100%;
    height: 70px;

    border-bottom: 1px solid #E3E6EA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-modal-t span{
    font-size: 20px;

    color: #333B3D;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.score-ar{
    width: 100%;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.sub-score{
    width: 24.7%;
    height: 55px;

    border: 1px solid #E3E6EA;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.failure-sub{
    width: 100%;
    height: 100%;
    color: #CB0000 !important;
    background-color: #FFECEC;

    display: flex;
    justify-content: center;
    align-items: center;
}

.success-sub{
    width: 100%;
    height: 100%;
    color: #00C471 !important;
    background-color: #E8F9F1;

    display: flex;
    justify-content: center;
    align-items: center;
}



.modal-button-ar2{
    width: 100%;
    height: 70px;

    margin-top: 13px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button-ar2 a{
    width: 270px;
    height: 57px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #00C471;
    color: #FFFFFF;

    border-radius: 8px;

    font-size: 27px;

    text-decoration: none;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.modal-title-mi{
    color: #0078C4 !important;

    font-size: 13px !important;

    font-family: "Noto Sans KR", serif;
    font-weight: 500 !important;
    font-style: normal;
}

@media (hover:hover) {
    .modal-button-ar2 a:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.omr-ar{
    width: 80%;
    height: 30px;

    margin-bottom: 3px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.omr-title{
    width: 100px;
    height: 100%;
    border: 1px solid #E3E6EA;

    display: flex;
    justify-content: center;
    align-items: center;
}

.omr-title span{

    color: #333B3D;

    font-size: 14px;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ans-div{
    width: calc(100% - 100px);
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ans-div span{
    width: 5%;
    height: 100%;
    border: 1px solid #E3E6EA;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #333B3D;

    font-size: 13px;

    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.mans{
    font-size: 11px !important;
    font-weight: 700 !important;
}
